/* sound desktop component*/
.soundDesktop{

    display: none;

}

@media(min-width:800px){

    .soundDesktop{

        position: absolute;
        display: block;
        width: 100px;
        height: 100px;
        left:96%;
        top:92%;
        cursor:pointer

    }

}

/* sound desktop component*/
