// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    overflow: hidden;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) #040a09d7;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #040a09d7;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 3px solid #040a09d7;
  }

  .screen-container{

    -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


.ContainerPage__name{
    
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
}



@import 'background';
@import 'footer';
@import 'language-desktop';
@import  'logo-desktop';
@import 'logo-mobile';
@import 'nav-desktop';
@import 'nav-mobile';
@import 'sound-desktop';
@import 'container-inicio';
@import 'container-musica';
@import 'container-galery';
@import 'container-tienda';
@import '404';
@import 'cart-screen';

















